@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

@layer utilities {
    .hero-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
    }

    .hero-text {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
    }

    @media (max-width: 991.98px) {
        .hero-title {
            font-size: 24px;
            line-height: 1.3;
            text-align: center;
        }
    }
}